<form name="form.customerEdit" ng-submit-force="true" novalidate>


	<div class="item item-divider">
		{{ 'deliveryAddress' | translate }}
	</div>
	<label class="item item-input item-select">
		<select ng-model="customer.residency" ng-options="residency | translate for residency in residencies">
			<option value="" selected disabled>{{ 'residency' | translate }}</option>
		</select>
	</label>
	<input ng-model="customer.details" name="details" type="text" placeholder="{{ 'addressSupplement' | translate }}">


	<div class="item item-divider">
		{{ 'otherDeliveryInformation' | translate }}
	</div>
	<input ng-model="customer.firstName" type="text" placeholder="{{ 'firstName' | translate }}">
	<input ng-model="customer.lastName" name="lastName" type="text" placeholder="{{ 'lastName' | translate }}">
	<input ng-model="customer.phoneNumber" name="phoneNumber" type="tel" placeholder="{{ 'phoneNumber' | translate }}" ge-phone-format>
	<div ng-messages="furtherRegisterForm.phoneNumber.$error">
		<div ng-message="gePhoneFormat">{{ 'gePhoneFormatShortErrorKey' | translate }}</div>
	</div>


	<div class="item item-divider">
		{{ 'editPassword' | translate }}
	</div>
	<input ng-model="customer.oldPassword" name="oldPassword" type="password" placeholder="{{ 'oldPassword' | translate }}" ng-minlength="6">
	<div ng-messages="customerEditForm.oldPassword.$error">
		<div ng-message="min">{{ 'minShortErrorKey' | translate }}</div>
	</div>
	<input ng-model="customer.newPassword" name="newPassword" type="password" placeholder="{{ 'newPassword' | translate }}" ng-minlength="6">
	<div ng-messages="customerEditForm.newPassword.$error">
		<div ng-message="min">{{ 'minShortErrorKey' | translate }}</div>
	</div>

	
</form>
