<md-dialog class="dialog-size dialog-address-box">

	<md-content>
		<h3 class="title-margin">{{ 'deliveryAddress' | translate }}</h3>

	<md-radio-group flex="20" ng-model="addressTypeSelected.value" ng-init="addressTypeSelected.value=addressTypes[0].value" ng-repeat="addressType in addressTypes" ng-change="resetDeliveryAddress()">
        <md-radio-button ng-value="addressType.value" class="first-radio-button">
        	{{ addressType.label }}
        </md-radio-button>

        <div ng-show="addressType.value=='newAddress'">
        	<md-select ng-change="detectPlaceholder()" ng-disabled="addressTypeSelected.value!='newAddress'" ng-model="deliveryAddress.value" placeholder="{{ 'residency' | translate }}" class="full-width select-content-item">
						<md-option ng-value="res" ng-repeat="res in residencies">{{ res | translate }}</md-option>
					</md-select>

			<md-input-container class="no-validation-messages" flex>
				<label>
					<i class="icon ion-ios7-home-outline"> {{ 'addressSupplement' | translate }}</i>
				</label>
				<input ng-change="detectPlaceholder()" ng-disabled="addressTypeSelected.value!='newAddress'" ng-model="addressSupplement.value" name="addressSupplement">
			</md-input-container>
        </div>

        <div ng-show="addressType.value=='predefinedAddress'">
        	<md-select ng-model="predefinedDeliveryAddress.value" ng-change="detectPlaceholder()" ng-disabled="addressTypeSelected.value!='predefinedAddress'" class="full-width select-content-item" placeholder="Lieux communs">
    			<md-option ng-value="place.details" ng-repeat="place in predefinedAddresses">{{ place.details }}</md-option>
  			</md-select>
        </div>
        <div ng-hide="addressType.value=='predefinedAddress'" class="line-divider">
  			<span class="text-divider">
    			 &nbsp OU &nbsp
  			</span>
		</div>
		<div ng-show="addressType.value=='predefinedAddress'" class="end-line-divider">

		</div>
        <!-- <md-divider></md-divider> -->
    </md-radio-group>



<!--
		<md-item>
			<md-item-content>
				<md-radio-button ng-value="addressType[0].value" class="first-radio-button">
					{{ addressType[0].label }}
        		</md-radio-button>
			</md-item-content>
			<md-item-content >
				<md-radio-button ng-value="addressType[1].value" class="first-radio-button">
					{{ addressType[1].label }}
        		</md-radio-button>
			</md-item-content>

			<md-select ng-model="deliveryAddress" class="full-width select-content-item" name="residency" placeholder="{{ 'residency' | translate }}">
				<md-select-label class="select-label">
					<i class="icon ion-ios7-location-outline placeholder-icon"> </i>{{ deliveryAddress | translate }}
				</md-select-label>
				<md-option ng-value="res" ng-repeat="res in residencies">{{ res | translate }}</md-option>
			</md-select>

			<md-input-container class="no-validation-messages" flex>
				<label>
					<i class="icon ion-ios7-home-outline"> {{ 'addressSupplement' | translate }}</i>
				</label>
				<input ng-model="addressSupplement" name="addressSupplement" type="text">
			</md-input-container>

		<md-divider></md-divider>
		</md-item>

		<md-item>
			<md-item-content >
				<md-radio-button ng-value="addressType[2].value" class="first-radio-button">
					{{ addressType[2].label }}
        		</md-radio-button>
        	</md-item-content>
			<md-item-content class="select-content-real-item">
				<md-select class="full-width select-content-item" ng-model="deliveryAddress" placeholder="Lieux communs">
    				<md-option ng-value="place.details" ng-repeat="place in predefinedAddresses.data">{{ place.details }}</md-option>
  				</md-select>
			</md-item-content>

			<md-divider class="divider-margin"></md-divider>
		</md-item>
		</md-radio-group>


<- - - - - - - - - - - - - - RESULTS -> WHERE CUSTOMER WILL BE DELIVERED - - - - - - - - -->

		<md-item>
			<md-item-content>
				<div> <b>{{ 'beDeliveredAt' | translate }}</b></div>
			</md-item-content>

			<div ng-show="addressTypeSelected.value=='myAddress'">
				<div ng-show="hasPredefinedPersonalAddress.hasValue">
					<div ng-show="hasPredefinedPersonalAddress.value">
						{{ userAddress.residency |  translate }} <br />
						{{ userAddress.details }}
					</div>
					<div ng-hide="hasPredefinedPersonalAddress.value">
						{{ 'noPersonalAddress' | translate }}
					</div>
				</div>
				<div ng-hide="hasPredefinedPersonalAddress.hasValue">
					{{ 'loading' | translate }}
				</div>
			</div>

			<div ng-show="addressTypeSelected.value=='newAddress'">
				<div ng-show="deliveryAddress.hasValue">
					{{ deliveryAddress.value | translate }} <br/>
				</div>
				<div ng-show="addressSupplement.hasValue">
					{{ addressSupplement.value }}
				</div>

				<div ng-hide="deliveryAddress.hasValue" class="placeholder">
					{{ 'selectResidency' | translate }} <br/>
				</div>
				<div ng-hide="addressSupplement.hasValue" class="placeholder">
					{{ 'addressSupplement' | translate }}
				</div>
			</div>

			<div ng-show="addressTypeSelected.value=='predefinedAddress'">
				<div ng-show="predefinedDeliveryAddress.hasValue">
					{{ predefinedDeliveryAddress.value }}
				</div>
				<div ng-hide="predefinedDeliveryAddress.hasValue" class="placeholder">
					{{ 'selectCommonPlace' | translate }}
				</div>
			</div>

		</md-item>

	</md-content>

	<div class="md-actions">
		<md-button on-tap="closeAskForAddressDialog(true)">
			{{ 'cancel' | translate }}
		</md-button>
		<md-button class="md-primary" on-tap="closeAskForAddressDialog(false)" ng-disabled="shouldAddressDialogConfirmButtonBeDisable()"> <!-- ng disabled to improve ?? -> check before user confirmation, kinf of pre-validation.... not ininteresting -->
			{{ 'ok' | translate }}
		</md-button>
	</div>

</md-dialog>


<!-- KEEP IT !! FORWARD GEOCODING FOR CALZONE !!

			<md-input-container class="container-margin" ng-hide="predefinedPersonalAddressSelected">
          		<input ng-autocomplete ng-model="newDeliveryAddress" details="newAddressFormatted">
        	</md-input-container>
        	<md-input-container class="container-margin" ng-hide="predefinedPersonalAddressSelected">
        		<label>Details (Bâtiment, étage,...)</label>
          		<input ng-model="newAddressDetails">
        	</md-input-container>
 -->
