<form name="resetPasswordForm" novalidate>
	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">{{ 'email' | translate }}</span>
			<input ng-model="userReset.email" name="email" type="email" required ge-campus-email>
		</label>
		<div ng-show="(resetPasswordForm.email.$touched && resetPasswordForm.email.$dirty) || resetPasswordForm.$submitted" ng-messages="resetPasswordForm.email.$error">
			<div ng-message="required">{{ 'requiredShortErrorKey' | translate }}</div>
			<div ng-message="email">{{ 'emailShortErrorKey' | translate }}</div>
			<div ng-message="geCampusEmail">{{ 'geCampusEmailShortErrorKey' | translate }}</div>
			<div ng-message="notFound">{{ 'notFoundErrorKey' | translate }}</div>
		</div>
	</div>
</form>
