.dialog-size {
  width: 80% !important;
}

.title-margin {
	margin-bottom: 2vh;
}


.container-margin {
	padding-bottom: 0px !important;
}

.small-text {
	font-size: 9px;
}

.checkbox-margin {
	margin-left: 8vw;
	margin-top: 1vh;
	margin-bottom:0px;
}

.full-width {
	width: 100% !important;
}

.first-radio-button {
	margin-top: 0px;
	margin-bottom: 0px;
}

.select-content-item {
	margin-top :0.5vh;
}

.line-divider {
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	height: 1px;
	background-color: $energized;
	opacity: 0.7;
	text-align: center
}

.text-divider {
	background-color: white;
	position: relative;
	top: -0.9em;
	font-size: 11px;
	font-style: italic;
}

.end-line-divider {
	margin-top: 1.5vh;
	margin-bottom: 2vh;
	height: 2px;
	background-color: $assertive;
	opacity: 0.7;
}
md-radio-button.md-default-theme.md-checked .md-off {
	border-color: $energized !important;
}

md-radio-button.md-default-theme .md-on {
	background-color: $energized !important;
}

md-checkbox.md-default-theme.md-checked .md-icon {
	background-color: $assertive !important;
}

.placeholder {
	font-style: italic;
	color: rgba(0,0,0,0.6);
}