.dialog-size {
  width: 80% !important;
}

.title-margin {
	margin-bottom: 2%;
}

.divider-margin {
	margin-top : 2%;
	margin-bottom: 2%;
}

.parag-margin {
	margin-bottom:0px;
}

.container-margin {
	padding-bottom: 0px !important;
}

.small-text {
	font-size: 8px;
}

.checkbox-margin {
}

.full-width {
	width: 100% !important;
}

.first-radio-button {
	margin-top: 3px;
	margin-bottom: 0px;
}

.radio-margin-left {
	margin-left: 10% !important;
}

.second-radio-button {
	margin-bottom: 0px;
	margin-top: 0px;
}

.select-content-text {
	margin-top : 1%;
}

.select-content-item {
	margin-top :0.5%;
}