@import "variables" ;


#new-command-button {
	display: block;
	position:relative;
}

#new-command-text {
	color: $energized;
	font-weight: bold;
}

#confirmCommandButton {
	display:block;
	margin-top : 25px;
	margin-left : auto !important;
	margin-right : auto !important;
}

.checkbox-cart {
	color: assertive;
}


