@import "variables" ;


#new-order-button {
	display: block;
	position:relative;
}

#new-order-text {
	color: $energized;
	font-weight: bold;
}

.checkbox-cart {
	color: assertive;
}

.align-right{
	display: block;
	margin-right: 0px;
	padding-right: 0px;
	text-align: right;
}
