.cart-foodrush-text {
	margin-top: 16px;
	margin-bottom: 0px;
}

.cart-checkboxes {
	margin-bottom: 8px;
	margin-top: 14px;
}

#cart-confirm-button {
	margin-top: 16px;
	background-color: $energized;
	padding-left: 20px;
	padding-right: 20px;
}

.cart-button-text {
	color: white;
}

