.login-text-first-page{
	color:grey;
	text-align:center;
}

#logo-first-page{
	width:60% ;
	height:60% ;
	display:block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom:10%;
    margin-top:7%;
}

.one-all-icon{
	width:100%;
	height:100%;
	display:block;
}

.button-first-page-bottom{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius:20px ;
    margin-left: auto;
    margin-right: auto;
}

.text-bottom-button-first-page{
	font-family: "Calibri Light";
}

