.login-text-first-page{
	color:grey;
	text-align:center;
}

#logo-first-page{
	width:60% ;
	height:60% ;
	display:block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom:10%;
    margin-top:7%;
}

