.login-text-first-page{
    color:grey;
    text-align:center;
}

.add-horizontal-margin {
    margin-left: 10%;
    margin-right: 10%;
}

.add-vertical-margin {
    margin-top: 10%;
    margin-bottom: 10%;
}

.add-top-margin {
    margin-top: 10%;
}

.add-bottom-margin {
    margin-bottom: 10%;
}

.no-bottom-margin {
    margin-bottom: 0%;
}

.no-top-margin {
    margin-top: 0%;
}

.no-border {
    border-style: none;
}

#logo-first-page{
    width:60% ;
    height:60% ;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20%;
}

.button-bottom {
    position : absolute;
    bottom : 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-width: 0 !important;
    border-radius: 0 !important;
    }

.button-upper-bottom {
    position : absolute;
    bottom : $button-height + 5px;
    margin-bottom :0 !important;
    margin-top: 0 !important;
    border-width: 0 !important;
    border-radius: 0 !important;
}


.text-button-first-page{
    font-family : "Aventura";
    src: url('../ressources/fonts/Aventura-Bold.otf') format('opentype');
}

.login-view-back-button {
    margin-top:0;
    margin-left:0;
    position : absolute;
    top : 5px;
    left: 5px;
}

.border-less {
    margin : 0;
    padding : 0;	
}

.register-form{
    position : absolute;
    bottom : $button-height + 10px;
    margin-left : 0;
    width : 100%;
    border-radius: 0 !important;

}


.loginViewButtons{
    display : block;
    text-align: center;
    opacity : 0.7 ;

}

.logoholder{
  padding: 40px 0;
  text-align: center;
}

.auth {}

        .auth .auth-form {
                display: inline-block;
                margin: 10px auto;
                width: 100%;
        }

        .auth .auth-form input {
                font-size: 16px;
                margin-bottom: 20px;
                background-color: transparent;
                border: none;
                border-radius: none !important;
                height: 40px;
                border-bottom: 1px solid #FFF;
                color: #FFF;
        }
        .auth input::-webkit-input-placeholder {
                color : rgba(255,255,255,.7)
        }
        .auth button {
            background-color: rgba(255,255,255,.7) !important;
            border-radius: 4px;
        }
