#new-order-button {
	display: block;
	margin: auto;
	margin-bottom: 16px !important;
	margin-top: 16px;
	width: calc(100vw - 32px);
	margin-left: 16px;
	margin-right: 16px !important;
	padding: 1px;
}

.go-title {
	margin-left: 3vw;
	margin-bottom: 1vh;
}

.go-details-list {
	margin-left: 16px;
	margin-right: 16px;
	border-right: 2px solid;
	border-color: $energized;
}

.go-details {
	margin-left: 5vw;
	margin-bottom: 22px;
	margin-top: 22px;
	font-size: 15px;
}

.go-icon {
	font-size: 18px; 
	margin-right: 3px;
	margin-bottom: 22px;
	margin-top: 22px;
}

.go-discount {
	font-size: 18px;
	margin-bottom: 22px;
	margin-top: 22px;
}

.go-chrono {
	font-size: 18px;
	margin-bottom: 22px;
	margin-top: 22px;
}

.go-list-header {
	min-height: 2px;
	margin-top: 16px;
}

.list-title {
	font-size: 16px;
	margin-left: calc(5vw + 16px);
	margin-top: 10px;
	margin-bottom: 10px;

}

md-toolbar.md-default-theme {
	background-color: transparent;
	color: rgba(0,0,0,0.87);
	box-shadow: 0 0 0 0;
	border-bottom : 1px solid;
	border-right: 2px solid;
	border-color: transparent $energized $assertive;
	margin-right: 16px;
}

.go-divider {
	margin-bottom: 2vh;
	border-top: 2px solid;
	border-top-color: $energized !important;
	margin-right: 16px;
}


div.white-backdrop {
	height: calc(100% - 49px);
}
