.right-header-bar-icon {
    font-size:22px !important;
}


.right-footer-bar-icon {
    font-size: 18px !important;
}

#trash-icon-swipe-cart-cell {
	font-size: 32px;
}

.icon-cart-add-delete {
    font-size:22px !important;
	font-color: assertive!important;	
}