.loading-circle {
	margin : auto;
}

.loading-backdrop {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: auto;
	padding-top: 30vh;
	background-color: rgba(0,0,0, 0.11);
}

.card-shadow {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 27px 24px 0px;
}

md-progress-circular.md-default-theme.md-warn .md-inner .md-left .md-half-circle {
	border-left-color: $assertive;
	border-bottom-color: $assertive;
}

md-progress-circular.md-default-theme.md-warn .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme.md-warn .md-inner .md-right .md-half-circle {
	border-top-color: $assertive ;
	border-right-color: $assertive ;
}
