.icon-height {
	font-size: 32px;
}

.rm-sub-header-content {
	margin-top: 16px;
	margin-bottom: 16px;
}

.rm-sub-header-text {
	margin: auto;
	text-align: center;
}

.rm-sub-header-divider {
	height: 1px;
	background-color: $energized;
	text-align: center;
	margin: auto;

}
