node_modules
www
.tmp
.sass-cache
bower_components
coverage
platforms
resources/android
resources/ios
plugins
*.swp
*.swo
*.log
*.DS_Store

.idea

*.license
*.strings
*.plist

app/scripts/ngConstants.js
