node_modules
www
.tmp
dist
.sass-cache
bower_components
coverage
platforms
resources/android
resources/ios
resources/wp8
plugins
*.swp
*.swo
*.log
*.DS_Store

.idea

*.license
*.strings
*.plist

app/js/ngConstants.js
