<ion-view hide-nav-bar="true" ng-controller="AuthenticationCtrl">

	<ion-slide-box id="intro-slides" on-slide-changed="slideHasChanged($index)" show-pager="true" class="full-height">
		<ion-slide>
			<div class="titles">
				<h3>Crée une commande</h3>
				<p>Sélectionne un restaurant, ce que tu souhaites manger, et regarde le prix de ton panier baisser chaque fois que quelqu’un rejoint la commande.</p>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="titles">
				<h3>Rejoins une commande</h3>
				<p>Rejoins une commande GroupEat autour de toi et économise directement sur ton achat.<br /> C’est ça l’esprit GroupEat !</p>
			</div>
		</ion-slide>
		<ion-slide>
			<div class="titles">
				<h3>Règle le Food Rush</h3>
				<p>Plutôt économe ou pressé ? Définis combien de temps tu souhaites attendre avant d’être livré : plus tu attends, plus tu économises !</p>
			</div>
		</ion-slide>
	</ion-slide-box>

	<div id="intro-animations">
		<div class="canvas" ng-class="{'is-slide2' : slideIndex === 1, 'is-slide3' : slideIndex === 2}">
			<div class="pizzeria">
				<ul class="smoke">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="clock"></div>
			<div class="scooter">
				<div class="flag"></div>
				<ul class="pizzas">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
				<ul class="speed">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>

	<!--	-	-	- LOGO FOR ALL VIEWS -	-	-	-->
<!-- 	<div class="padding-vertical">
		<img src="images/logo-groupeat.svg" alt="logo" id="logo-first-page" >
	</div> -->
	<!--	-	-	- END LOGO FOR ALL VIEWS -	-	-	-->


	<!--	-	-	- MENU VIEW -	-	-	-->
	<!-- <div ng-show="showLoginAndRegisterButtons">
		<button on-tap="onLoginButtonTouch()" class="button button-full button-energized button-upper-bottom text-button-first-page">{{ 'login' | translate | uppercase }}
		</button>

		<button on-tap="onRegisterButtonTouch()" class="button button-full button-assertive button-bottom text-button-first-page">{{ 'register' | translate | uppercase }}
		</button>
	</div> -->
	<!--	-	-	- END MENU VIEW -	-	-	-->

	<!--	-	-	- LOGIN VIEW -	-	-	-->
	<!-- <form name="loginForm" ng-show="showLoginForm" ng-submit="submitLoginForm(loginForm);" ng-submit-force="true" novalidate>
		<div class="list list-inset register-form">
			<div class="loginViewButtons">
				<md-button type="button" class="md-primary loginViewsButtons" on-tap="showResetPasswordDialog($event)">
					{{ 'forgotPassword' | translate }}
				</md-button>
			</div>
			<md-input-container flex>
				<label>
					<i class="icon ion-ios7-email-outline"> {{ 'email' | translate }}</i>
				</label>
				<input ng-model="userLogin.email" name="email" type="email" required ge-campus-email>
				<div ng-show="(loginForm.email.$touched && loginForm.email.$dirty) || loginForm.$submitted" ng-messages="loginForm.email.$error">
					<div ng-message="required">{{ 'requiredShortErrorKey' | translate }}</div>
					<div ng-message="email">{{ 'emailShortErrorKey' | translate }}</div>
					<div ng-message="geCampusEmail">{{ 'geCampusEmailShortErrorKey' | translate }}</div>
				</div>
			</md-input-container>
			<md-input-container flex>
				<label>
					<i class="icon ion-ios7-locked-outline"> {{ 'password' | translate }}</i>
				</label>
				<input ng-model="userLogin.password" ng-model-options="{ updateOn: 'default blur' }" name="password" type="password" required ng-minlength="6">
				<div ng-show="(loginForm.password.$touched && loginForm.password.$dirty) || loginForm.$submitted" ng-messages="loginForm.password.$error">
					<div ng-message="required">{{ 'requiredShortErrorKey' | translate }}</div>
					<div ng-message="min">{{ 'minShortErrorKey' | translate }}</div>
				</div>
			</md-input-container>
		</div>
		<button type="input" class="button button-bottom button-full button-energized text-button-first-page">{{ 'login' | translate | uppercase }}
		</button>
	</form>

	<button ng-show="showLoginEnergizedBackButton" on-tap="onBackToMainViewButtonTouch()" class="button button-clear button-energized ion-chevron-left login-view-back-button">
		{{ 'back' | translate }}
	</button> -->

	<!--	-	-	- END LOGIN VIEW -	-	-	-->


	<!--	-	-	- REGISTER VIEW -	-	-	-->

	<!-- <form name="registerForm" ng-show="showRegisterForm"  ng-submit-force="true" novalidate>
		<div class="list list-inset register-form">
			<h6 class="login-text-first-page"> {{ 'enterYourCampusEmail' | translate }}</h6>
			<md-input-container flex>
				<label>
					<i class="icon ion-ios7-email-outline"> {{ 'email' | translate }}</i>
				</label>
				<input ng-model="userRegister.email" name="email" type="email" required ge-campus-email>
				<div ng-show="(registerForm.email.$touched && registerForm.email.$dirty) || registerForm.$submitted" ng-messages="registerForm.email.$error">
					<div ng-message="required">{{ 'requiredShortErrorKey' | translate }}</div>
					<div ng-message="email">{{ 'emailShortErrorKey' | translate }}</div>
					<div ng-message="geCampusEmail">{{ 'geCampusEmailShortErrorKey' | translate }}</div>
				</div>
			</md-input-container>
			<md-input-container flex>
				<label>
					<i class="icon ion-ios7-locked-outline"> {{ 'password' | translate }}</i>
				</label>
				<input ng-model="userRegister.password" ng-model-options="{ updateOn: 'default blur' }" name="password" type="password" required ng-minlength="6">
				<div ng-show="(registerForm.password.$touched && registerForm.password.$dirty) || registerForm.$submitted" ng-messages="registerForm.password.$error">
					<div ng-message="required">{{ 'requiredShortErrorKey' | translate }}</div>
					<div ng-message="min">{{ 'minShortErrorKey' | translate }}</div>
				</div>
			</md-input-container>
		</div>
		<button on-tap="submitRegisterForm(registerForm)" type="submit" class="button button-full button-assertive button-bottom text-button-first-page">{{ 'register' | translate | uppercase }}
		</button>
	</form>

	<button ng-show="showLoginAssertiveBackButton" on-tap="onBackToMainViewButtonTouch()" class="button button-clear button-assertive ion-chevron-left login-view-back-button">
		{{ 'back' | translate }}
	</button>
 -->
	<!--	-	-	- END REGISTER VIEW -	-	-	-->


	<!--	-	-	- SECOND FORM VIEW -	-	-	-->

	<!-- <form name="furtherRegisterForm" ng-show="showFurtherRegisterForm" ng-submit="submitFurtherRegisterForm(furtherRegisterForm)" ng-submit-force="true" novalidate>
		<div class="list list-inset register-form">
			<h6 class="login-text-first-page"> {{ 'addMoreInformationOrSkip' | translate }}</h6>
			<md-input-container class="no-validation-messages" flex>
				<label>
					<i class="icon ion-ios7-person-outline"> {{ 'firstName' | translate }}</i>
				</label>
				<input ng-model="userRegister.firstName" name="firstName" type="text">
			</md-input-container>
			<md-input-container class="no-validation-messages" flex>
				<label>
					<i class="icon ion-ios7-person-outline"> {{ 'lastName' | translate }}</i>
				</label>
				<input ng-model="userRegister.lastName" name="lastName" type="text">
			</md-input-container>
			<md-input-container flex>
				<label>
					<i class="icon ion-ios7-telephone-outline"> {{ 'phoneNumber' | translate }}</i>
				</label>
				<input ng-model="userRegister.phoneNumber" name="phoneNumber" type="tel" ge-phone-format>
				<div ng-show="(furtherRegisterForm.phoneNumber.$touched && furtherRegisterForm.phoneNumber.$dirty) || furtherRegisterForm.$submitted" ng-messages="furtherRegisterForm.phoneNumber.$error">
					<div ng-message="gePhoneFormat">{{ 'gePhoneFormatShortErrorKey' | translate }}</div>
				</div>
			</md-input-container>
			<md-select ng-model="userRegister.residency" class="full-width" name="residency" placeholder="{{ 'residency' | translate }}">
				<md-select-label class="select-label">
					<i class="icon ion-ios7-location-outline placeholder-icon"> </i>{{ userRegister.residency | translate }}
				</md-select-label>
				<md-option ng-value="res" ng-repeat="res in residencies">{{ res | translate }}</md-option>
			</md-select>
			<md-input-container class="no-validation-messages" flex>
				<label>
					<i class="icon ion-ios7-home-outline"> {{ 'addressSupplement' | translate }}</i>
				</label>
				<input ng-model="userRegister.addressSupplement" name="addressSupplement" type="text">
			</md-input-container>
		</div>
		<div ng-show="showSkipFurtherRegisterButton">
			<button type="button" on-tap="hasRegistered(true)" class="button button-full button-assertive button-bottom text-button-first-page">{{ 'skip' | translate | uppercase }}
			</button>
		</div>
		<div ng-show="showSubmitFurtherRegisterButton">
			<button type="submit" class="button button-full button-energized button-bottom text-button-first-page">{{ 'register' | translate | uppercase }}
			</button>
		</div>
	</form> -->
	<!--	-	-	- END SECOND FORM VIEW -	-	-	-->
</ion-view>
