<ion-view ng-controller="CartCtrl" title="{{ 'yourCart' | translate }}" ge-hide-tabs>

<!-- - - - - - - - - - - -  CART NOT EMPTY :  - - - - - - - - - - - - -->

	<ion-nav-buttons side="right">
    	<button ng-hide="isCartEmpty" class="button button-clear ion-ios7-compose-outline right-header-bar-icon" ge-touch="onEditCartTouch()">
    	</button>
  	</ion-nav-buttons>

	<ion-content has-header="true" ng-hide="isCartEmpty">

	  	<ion-list>

	  		<div class="item item-divider">
	  			<div class="row border-less">
			  			<div class="col col-80 center">
			  				<b>{{ 'Description' | translate }}</b>
			  			</div>
			  			<div class="col col-20">
			  				{{ 'Price' | translate }}
			  			</div>
			  			<div class="col col-10">
			  			</div>
				</div>
  			</div>

  			<div ng-repeat="product in cart">
		  		<ion-item ng-click="toggleDetails(product)" ng-class="{active: isDetailsShown(product)}" >
		  			<div class="row border-less" ng-class="isDetailsShown(product)">
				  			<div class="col col-80 border-less">
				  				<b>{{ product.name }}</b>
				  				<p ng-show="formats.quantity" ng-repeat="formats in product.formats" class="border-less">{{ formats.quantity }} {{ formats.size }}
				  				 </p>
				  			</div>
				  			
				  			<div class="col col-10">
				  				{{ product.totalPrice }}€
				  			</div>
				  			<div class="col col-10">
				  			</div>
					</div>

				</ion-item>	
				<ion-item ng-repeat="format in product.formats" ng-show="isDetailsShown(product)">
					<div class="row border-less">
		            		<div class="col col-60 border-less">
		            			{{ format.size }} ({{ format.price }} €)
		            		</div>
		            		<div class="col col-10 ">
		            			<a class="ion-ios7-minus-outline assertive icon-cart-add-delete align-right" ge-touch="onProductDelete(product.id, format.id)"></a>
		            		</div>
		            		<div class="col col-10">
		            			<a class="center">{{ format.quantity }} </a>
		            		</div>
		            		<div class="col col-10 ">
		            			<a class="icon ion-ios7-plus-outline assertive icon-cart-add-delete" ge-touch="onProductAdd(product.id, format.id)"></a>
		            		</div>
		            		<div class="col col-10 ">
							</div>
	            	</div>
	          	</ion-item>
	        </div>
		</ion-list>

		<ion-list>
	  		<ion-item>
	  			<div class="center">
		  			<b>{{ 'Total' | translate }} :</b> &nbsp {{ cartTotalQuantity }} pizzas, {{ cartTotalPrice }}€.  
				</div>
	  		</ion-item>
	  	</ion-list>

	  	<h5 class="login-text-first-page add-horizontal-margin no-bottom-margin">
	  	 {{ 'howLongFoodRush' | translate }} <a class="energized">Food</a><a class="assertive">Rush</a> ? 
	  	</h5>

	  	<div class="row border-less">
		  		<div class="col col-25">
		  			<a class="center">
		  				<ion-checkbox class="no-border checkbox-assertive" ng-model="FoodRushTime" ng-true-value="5"></ion-checkbox>
		  			</a>
		  			<h5 class="border-less center">5 {{ 'min' | translate }}  &nbsp &nbsp  </h5>
		  		</div>
		  		<div class="col col-25">
		  			<a class="center">
		  				<ion-checkbox class="no-border checkbox-assertive" ng-model="FoodRushTime" ng-true-value="10"></ion-checkbox>
		  			</a>
		  			<h5 class="border-less center">10 {{ 'min' | translate }} &nbsp &nbsp  </h5>
		  		</div>
		  		<div class="col col-25">
		  			<a class="center">
		  				<ion-checkbox class="no-border checkbox-assertive" ng-model="FoodRushTime" ng-true-value="15"></ion-checkbox>
		  			</a>
		  			<h5 class="border-less center">15 {{ 'min' | translate }} &nbsp &nbsp  </h5>
		  		</div>
		  		<div class="col col-25">
		  			<a class="center">
		  				<ion-checkbox class="no-border checkbox-assertive" ng-model="FoodRushTime" ng-true-value="30"></ion-checkbox>
		  			</a>
		  			<h5 class="border-less center"> 30 {{ 'min' | translate }} &nbsp &nbsp  </h5>
		  		</div>
	  	</div>
	  	
		<button id="confirmCommandButton" class="button button-assertive button-outline button-center" on-touch="onConfirmCommandTouch()">
			{{ 'confirmCommand' | translate }}
		</button>

	</ion-content>
<!-- - - - - - - - - - - -  END CART NOT EMPTY :  - - - - - - - - - - - - -->



<!-- - - - - - - - - - - -  CART EMPTY :  - - - - - - - - - - - - -->
	<ion-content has-header="true" ng-show="isCartEmpty">
		<ion-list>
	  		<ion-item>
				<div class="border-less center">
		  			<b> {{'emptyCart' | translate}} </b>  
				</div>
	  		</ion-item>
	  	</ion-list>
	</ion-content>
<!-- - - - - - - - - - - -  END CART EMPTY :  - - - - - - - - - - - - -->


	<ion-footer-bar class="bar-energized ">
	 	<div class="row border-less">
	  		<div class="col">
				<i class="icon ion-ios7-cart-outline right-footer-bar-icon"></i>  {{ cartTotalPrice }}€
			</div>
		</div>
	</ion-footer-bar>

</ion-view>

