<ion-view ng-controller="CartCtrl" title="{{ 'yourCart' | translate }}" ge-hide-tabs>

<!-- - - - - - - - - - - -  CART NOT EMPTY :  - - - - - - - - - - - - -->

	<ion-nav-buttons side="right">
    	<button ng-hide="isCartEmpty" class="button button-clear ion-ios7-compose-outline right-header-bar-icon" on-touch="data.showDeleteList = !data.showDeleteList">
    	</button>
  	</ion-nav-buttons>

	<ion-content has-header="true" ng-hide="isCartEmpty">

	  	<ion-list show-delete="data.showDeleteList" can-swipe=true>

	  		<div class="item item-divider">
	  			<div class="row border-less">
		  			<div class="col col-70">
		  				<b>{{ 'Description' | translate }}</b>
		  			</div>
		  			<div class="col col-20">
		  				{{ 'Price' | translate }}
		  			</div>
		  			<div class="col col-10">
		  			</div>
				</div>
  			</div>

	  		<ion-item ng-repeat="item in cart">
	  			<div class="row border-less">
		  			<div class="col col-80 border-less">
		  				<b>{{ item.name }}</b>
		  				<p ng-show="formats.quantity" ng-repeat="formats in item.formats" class="border-less">{{ formats.quantity }} {{ formats.size }} ({{formats.quantity*formats.price}}€)
		  				 </p>
		  			</div>
		  			
		  			<div class="col col-10">
		  				{{ item.totalPrice }}€
		  			</div>
		  			<div class="col col-10">
		  			</div>
				</div>
	  	
	  			<ion-option-button class="button button-clear button-full" on-touch="onItemDelete($index)">
	  				<a id="trash-icon-swipe-cart-cell" class="ion-ios7-trash-outline assertive"></a>     
	    		</ion-option-button>

				<ion-delete-button class="ion-ios7-trash-outline"
				ng-click="onItemDelete($index)">
				</ion-delete-button>

			</ion-item>	
		</ion-list>

		<ion-list>
	  		<ion-item>
	  			<div class="center">
		  			<b>{{ 'Total' | translate }} :</b> &nbsp {{ cartTotalQuantity }} pizzas, {{ cartTotalPrice }}€.  
				</div>
	  		</ion-item>
	  	</ion-list>

	  	<h5 class="login-text-first-page add-horizontal-margin no-bottom-margin">
	  	 {{ 'howLongFoodRush' | translate }} <a class="energized">Food</a><a class="assertive">Rush</a> ? 
	  	</h5>

	  	<div class="row border-less">
	  		<div class="col col-25">
	  			<ion-checkbox class="no-border checkbox-assertive center" ng-model="FoodRushTime" ng-true-value="5"></ion-checkbox>
	  			<h5 class="border-less"> &nbsp  5 {{ 'min' | translate }}</h5>
	  		</div>
	  		<div class="col col-25">
	  			<ion-checkbox class="no-border checkbox-assertive" ng-model="FoodRushTime" ng-true-value="10"></ion-checkbox>
	  			<h5 class="border-less"> &nbsp  10 {{ 'min' | translate }}</h5>
	  		</div>
	  		<div class="col col-25">
	  			<ion-checkbox class="no-border checkbox-assertive" ng-model="FoodRushTime" ng-true-value="15"></ion-checkbox>
	  			<h5 class="border-less"> &nbsp  15 {{ 'min' | translate }}</h5>
	  		</div>
	  		<div class="col col-25">
	  			<ion-checkbox class="no-border checkbox-assertive" ng-model="FoodRushTime" ng-true-value="30"></ion-checkbox>
	  			<h5 class="border-less"> &nbsp  30 {{ 'min' | translate }}</h5>
	  		</div>
	  	</div>
	  	
		<button id="confirmCommandButton" class="button button-assertive button-outline button-center" on-touch="onConfirmCommandTouch()">
			{{ 'confirmCommand' | translate }}
		</button>

	</ion-content>
<!-- - - - - - - - - - - -  END CART NOT EMPTY :  - - - - - - - - - - - - -->



<!-- - - - - - - - - - - -  CART EMPTY :  - - - - - - - - - - - - -->
	<ion-content has-header="true" ng-show="isCartEmpty">
		<ion-list>
	  		<ion-item>
				<div class="border-less center">
		  			<b> {{'emptyCart' | translate}} </b>  
				</div>
	  		</ion-item>
	  	</ion-list>
	</ion-content>
<!-- - - - - - - - - - - -  END CART EMPTY :  - - - - - - - - - - - - -->


	<ion-footer-bar class="bar-energized ">
	 	<div class="row border-less">
	  		<div class="col col-offset-80">
				<i class="icon ion-ios7-cart-outline right-footer-bar-icon"></i>  {{ cartTotalPrice }}€
			</div>
		</div>
	</ion-footer-bar>

</ion-view>

