<ion-view ng-controller="CommandViewController" title="Commandes" >

    <ion-content class="has-footer">

          <button id="new-command-button" on-tap="onNewCommandTap()" class="button button-full button-outline">
                  <text id="new-command-text"> Nouvelle Commande ! <text/>
          </button>

          
            <div ng-repeat="group in groups">
              <div class="card">
                <div class="item item-divider">
                  <i class="ion-clock assertive"></i>
                  <b>5 min</b> 
                  <i class="ion-pizza assertive"></i>
                  <b>Pizza</b> 
                  <i class="ion-bag assertive"></i>
                  <b>25€ (18%)</b> 
                </div>
                <div class="item item-text-wrap">
                  <h2>Pizzeria : Di Genova</h2>
                  <div>Joignez cette commande : 18% -> 23% ! </div>
                  <div>Pizza medium : 8€</div>
                </div>
                <a class="item item-icon-left assertive" on-tap="onNewCommandTap()">
                  <i class="icon ion-arrow-right-a"></i>
                  Commander ! 
                </a>
              </div>
            </div>



    </ion-content>


</ion-view>