<ion-view ng-controller="CommandViewController" title="Commandes" >
    
    <ion-content class="has-footer">

          <button id="new-command-button" on-tap="onNewCommandTap()" class="button button-full button-outline">
            <i class="icon assertive ion-pizza"></i>
                  <text id="new-command-text"> &nbsp &nbsp Nouvelle Commande ! &nbsp &nbsp<text/>
            <i class="icon assertive ion-pizza"></i>
          </button>

          <ion-list>
            <div ng-repeat="group in groups">
              <ion-item class="item-stable"
                        ng-click="toggleGroup(group)"
                        ng-class="{active: isGroupShown(group)}">
                Restaurant {{group.name}}
              </ion-item>
              <ion-item class="item-accordion"
                        ng-repeat="item in group.items"
                        ng-show="isGroupShown(group)">
                        <img width="54 pixels" src="img/logo-digenova.png">
                {{item}}
              </ion-item>
            </div>
          </ion-list>


    </ion-content>


</ion-view>