<ion-view hide-nav-bar="true" ge-hide-tabs ng-controller="FirstPageViewCtrl">

<!--	-	-	- LOGO FOR ALL VIEWS -	-	-	-->

<div class="padding-vertical">
	<img src="../images/logo-groupeat.svg" alt="logo" id="logo-first-page" >
</div>

<!--	-	-	- END LOGO FOR ALL VIEWS -	-	-	-->


<!--	-	-	- MENU VIEW -	-	-	-->

<div ng-show="ShowLoginSignUpButtons">
	<button on-touch="onLoginViewTouch()" class="button button-full button-energized  button-upper-bottom text-button-first-page">{{ 'login' | translate | uppercase }}
	</button>

	<button on-touch="onSignUpViewTouch()" class="button button-full button-assertive button-bottom text-button-first-page">{{ 'register' | translate | uppercase }}
	</button>
</div>

<!--	-	-	- END MENU VIEW -	-	-	-->


<!--	-	-	- LOGIN VIEW -	-	-	-->

<div ng-show="ShowLoginView" class="list list-inset register-form">
	<div class="loginViewButtons">
		<button on-touch="showRestPasswordPopup()" class="button button-small button-clear button-energized"> {{ 'forgotPassword' | translate }} </button>
	</div>
	<label class="item item-input">
		<input ng-model="userLogin.email" type="email" placeholder="{{ 'email' | translate }}">
	</label>
	<label class="item item-input">
		<input ng-model="userLogin.password" type="password" placeholder="{{ 'password' | translate }}">
	</label>
</div>

<div ng-show="ShowLoginView">
	<button on-touch="onLoginTouch()" class="button button-bottom button-full button-energized text-button-first-page">{{ 'login' | translate | uppercase }}
	</button>
</div>

<button ng-show="ShowLoginBackButtonEnergized" on-touch="onBackToMainViewButtonTouch()" class="button button-clear button-energized ion-chevron-left login-view-back-button">
	{{ 'back' | translate }}
</button>

<!--	-	-	- END LOGIN VIEW -	-	-	-->


<!--	-	-	- REGISTER VIEW -	-	-	-->

<div ng-show="ShowSignUpView" class="list list-inset register-form">
	<label class="item item-input">
		<i class="icon ion-ios7-email-outline placeholder-icon"></i>
		<input ng-model="userSignup.email" type="email" placeholder="{{ 'email' | translate }}">
	</label>
	<label class="item item-input">
		<i class="icon ion-ios7-locked-outline placeholder-icon"></i>
		<input ng-model="userSignup.password" type="password" placeholder="{{ 'password' | translate }}">
	</label>
	<label class="item item-input">
		<i class="icon ion-ios7-locked-outline placeholder-icon"></i>
		<input ng-model="userSignup.passwordConfirmed" type="password" placeholder="{{ 'confirmPassword' | translate }}">
	</label>
</div>

<div ng-show="ShowSignUpView">
	<button on-touch="onSignUpTouch()" class="button button-full button-assertive button-bottom text-button-first-page">{{ 'register' | translate | uppercase }}
	</button>
</div>

<button ng-show="ShowLoginBackButtonAssertive" on-touch="onBackToMainViewButtonTouch()" class="button button-clear button-assertive ion-chevron-left login-view-back-button">
	 Retour
</button>

<!--	-	-	- END REGISTER VIEW -	-	-	-->


<!--	-	-	- SECOND FORM VIEW -	-	-	-->

 <div ng-show="ShowSecondFormView">
 	<div ng-show="ShowSkipButton">
		<button on-touch="onSkipSecondFormTouch()" class="button button-full button-assertive button-bottom text-button-first-page">{{ 'skip' | translate | uppercase }}
		</button>
	</div>
	<div ng-show="ShowSecondRegisterButton">
		<button on-touch="onSecondRegisterTouch()" class="button button-full button-energized button-bottom text-button-first-page">{{ 'register' | translate | uppercase }}
		</button>
	</div>


	<div class="list list-inset register-form">
		<h6 class="login-text-first-page"> {{ 'addMoreInformationOrSkip' | translate }}</h6>
		<label class="item item-input">
			<i class="icon ion-ios7-person-outline placeholder-icon"></i>
			<input ng-model="userSignup.firstName" type="text" placeholder="{{ 'firstName' | translate }}">
		</label>
		<label class="item item-input">
			<i class="icon ion-ios7-person-outline placeholder-icon"></i>
			<input ng-model="userSignup.lastName" type="text" placeholder="{{ 'lastName' | translate }}">
		</label>
		<label class="item item-input">
			<i class="icon ion-ios7-telephone-outline placeholder-icon"></i>
			<input ng-model="userSignup.phoneNumber" type="tel" placeholder="{{ 'phoneNumber' | translate }}">
		</label>
		<label class="item item-input">
			<i class="icon ion-ios7-location-outline placeholder-icon"></i>
			<input ng-model="userSignup.address" type="text" placeholder="{{ 'address' | translate }}">
		</label>
	</div>
</div>

<!--	-	-	- END SECOND FORM VIEW -	-	-	-->
</ion-view>
