<ion-view hide-nav-bar="true" hide-tabs ng-controller="FirstPageViewController">

<div class="logoholder bg-grey">
	<img src="../images/logo-groupeat.svg" alt="logo" id="logo-first-page" >
</div>




<div>
	<button on-touch="openLoginModal()" class="button button-full button-energized  button-upper-bottom text-button-first-page">LOGIN
	</button>

	<button on-touch="openSignupModal()" class="button button-full button-assertive button-bottom text-button-first-page">SIGN UP
	</button>
</div>


</ion-view>
