<ion-view title="Que voulez vous manger ?" >
<ion-content has-header="true">

	<div class="row">
  		<div class="col col-50">
  			<button class="button button-block button-light">
  				<img widht="60 pixels" height="60 pixels" src="img/pizza-choice.png"></img>
  				<h4>Pizza</h4>
  				<h6><font color="gray"><i>Pâtes, Sandwichs, Plats, Tex Mex, Boissons,...</i></font></h6>
			</button>
			<button class="button button-block button-light">
  				<img widht="60 pixels" height="60 pixels" src="img/japonais-choice.png"></img>
  				<h4>Japonais</h4>
  				<h6><font color="gray"><i>Sushis, Makis, Sashimi, Soupe,...</i></font></h6>
			</button>
		</div>

		<div class="col col-50">
			<button class="button button-block button-light">
  				<img widht="60 pixels" height="60 pixels" src="img/chinois-choice.jpg"></img>
  				<h4>Chinois</h4>
  				<h6><font color="gray"><i>Nems, Riz cantonnais, Nouilles, Raviolis vapeurs,...</i></font></h6>
			</button>
			<button class="button button-block button-light">
  				<img widht="60 pixels" height="60 pixels" src="img/libanais-choice.jpg"></img>
  				<h4>Libanais</h4>
  				<h6><font color="gray"><i>Falafel, Kébbé, Rikakat, Chawarma,...</i></font></h6>
			</button>
		</div>
  </div>

</ion-content>
</ion-view>