<ion-view title="{{ 'whatWouldYouLikeToEat' | translate }}" >
	<ion-content has-header="true">

		<div class="row">
			<div class="col col-50">
				<button class="button button-block button-light">
					<img widht="60 pixels" height="60 pixels" src="img/pizza-choice.png"></img>
					<h4>{{ 'pizza' | translate }}</h4>
					<h6><font color="gray"><i>{{ 'pizzeriaDishes' | translate }}</i></font></h6>
				</button>
				<button class="button button-block button-light">
					<img widht="60 pixels" height="60 pixels" src="img/japonais-choice.png"></img>
					<h4>{{ 'japanese' | translate }}</h4>
					<h6><font color="gray"><i>{{ 'japaneseDishes' | translate }}</i></font></h6>
				</button>
			</div>

			<div class="col col-50">
				<button class="button button-block button-light">
					<img widht="60 pixels" height="60 pixels" src="img/chinois-choice.jpg"></img>
					<h4>{{ 'chinese' | translate }}</h4>
					<h6><font color="gray"><i>{{ 'chineseDishes' | translate }}.</i></font></h6>
				</button>
				<button class="button button-block button-light">
					<img widht="60 pixels" height="60 pixels" src="img/libanais-choice.jpg"></img>
					<h4>{{ 'lebanese' | translate }}</h4>
					<h6><font color="gray"><i>{{ 'lebaneseDishes' | translate }}</i></font></h6>
				</button>
			</div>
		</div>

	</ion-content>
</ion-view>
