<ion-view ng-controller="GroupOrdersCtrl" cache-view="false" title="{{ 'orders' | translate }}" hide-back-button="true" >

  <ion-content class="has-footer">

    <button id="new-order-button" ui-sref="restaurants" class="button button-full button-outline no-margin">
      <text id="new-order-text">{{ 'newOrder' | translate }} !<text/>
    </button>

    <div ng-repeat="groupOrder in groupOrders.data">
      <div class="card">

        <div class="item item-divider">
          <i class="ion-clock assertive"></i>
          <b><timer countdown="getTimeDiff(groupOrder.endingAt)" max-time-unit="'minute'" interval="1000">{{mminutes}}:{{sseconds}} </timer></b>
          <i class="ion-cash assertive"></i>
          <b>{{ groupOrder.discountRate }}%</b>
        </div>

        <div class="item item-text-wrap">
          <h2>{{ 'pizzeria' | translate }} : {{ groupOrder.restaurant.data.name }}</h2>
          <div> {{ 'remainingCapacity' | translate }} {{ groupOrder.remainingCapacity }}</div>
        </div>
        <a class="item item-icon-left assertive" on-tap="onJoinOrderTouch(groupOrder)">
          <i class="icon ion-arrow-right-a"></i>
          {{ 'joinThisOrder' | translate }} !
        </a>
      </div>
    </div>

  </ion-content>
<!--
  Pour le futur bouton flottant swag

  <div class="float-button">
    <span class="height-fix">
      <a ui-sref="add-trip" class="content">
        <i class="ion-plus-round"> </i>
      </a>
    </span>
  </div> -->


</ion-view>
