<ion-view ng-controller="GroupOrdersCtrl" view-title="{{ 'orders' | translate }}" hide-back-button="true" cache-view="false">

  <ion-content class="has-footer has-header" ng-show="!messageBackdrop.show">

    <md-button id="new-order-button" class="md-raised center" on-tap="onNewGroupOrder()">
      <text id="new-order-text">{{ 'newOrder' | translate }} !<text/>
    </md-button>

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="onRefreshGroupOrders()">
    </ion-refresher>

    <md-progress-circular ng-show="isLoadingView.value" class="md-warn go-loading" md-mode="indeterminate"></md-progress-circular>


    <md-list>
      <md-item ng-repeat="groupOrder in groupOrders" on-tap="onJoinOrderTouch(groupOrder)">
        <md-item-content>
          <md-toolbar class="go-list-header">
            <span class="list-title"> <i class="italic">{{ 'pizzeria' | translate }} </i>: {{ groupOrder.restaurant.data.name }} </span>
          </md-toolbar>

        </md-item-content>
        <md-item-content layout="row" layout-wrap>

            <div flex="50">
              <div class="go-details"> {{ 'remainingCapacity' | translate }} {{ groupOrder.remainingCapacity }}
              </div>
              
            </div>

            <div flex="25" class="center">
              <i class="ion-arrow-graph-down-right assertive go-icon"></i>
              <b class="go-discount"> {{ groupOrder.discountRate }}%</b>
            </div>

            <div flex="25" class="center">
              <i class="ion-android-stopwatch assertive go-icon"></i>
              <b class="go-chrono"><timer countdown="getTimeDiff(groupOrder.endingAt)" max-time-unit="'minute'" interval="1000" id="chrono-syle"> {{mminutes}}:{{sseconds}} </timer></b>
            </div>
        </md-item-content>
        

        <md-divider class="go-divider"></md-divider>
      </md-item>
    </md-list>

  </ion-content>

  <ion-content class="has-footer has-header" scroll="false" ng-show="messageBackdrop.show">
    <ge-message-backdrop>
    </ge-message-backdrop>
  </ion-content>

  <!--
  Pour le futur bouton flottant swag

  <div class="float-button">
    <span class="height-fix">
      <a ui-sref="add-trip" class="content">
        <i class="ion-plus-round"> </i>
      </a>
    </span>
  </div> -->

  <ion-tabs id="bottom-tabs" ng-controller="BottomTabsCtrl" class="tabs-energized tabs-icon-top">
        <ion-tab ng-repeat="tab in bottomTabs" title="{{ tab.title | translate }}" icon-on="{{ tab.iconClasses }}" icon-off="{{ tab.iconClasses }}" ui-sref="{{ tab.stateTarget }}">
        </ion-tab>
  </ion-tabs>

</ion-view>
