<ion-view ng-init="initCtrl()" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="primary" >
    <button class="button button-icon icon ion-gear-a" ui-sref="app.settings"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{ 'orders' | translate }}
  </ion-nav-title>
  <ion-nav-buttons side="secondary" >
    <button class="button button-icon icon ion-bag" ui-sref="app.orders"></button>
  </ion-nav-buttons>

  <ge-loading-backdrop ng-show="loadingBackdrop.show">
  </ge-loading-backdrop>

  <ion-content class="has-footer has-header" ng-hide="messageBackdrop.show || loadingBackdrop.show">

    <button id="new-order-button" class="button button-assertive center" on-tap="onNewGroupOrder()">
      {{ 'newOrder' | translate }} !
    </button>

    <ion-refresher pulling-text="{{ 'pullToRefresh' | translate }}" on-refresh="onReload()">
    </ion-refresher>

    <ion-item ng-repeat="groupOrder in groupOrders" on-tap="onJoinOrderTouch(groupOrder)">
      <p>{{ 'pizzeria' | translate }} : {{ groupOrder.restaurant.data.name }}</p>
      <p>
        {{ 'remainingCapacity' | translate }}
        {{ groupOrder.remainingCapacity }}
      </p>
      <p>{{ groupOrder.discountRate }}%</p>
      <timer countdown="getTimeDiff(groupOrder.endingAt)" max-time-unit="'minute'" interval="1000">
        {{mminutes}}:{{sseconds}}
      </timer>
    </ion-item>

  </ion-content>

  <ion-content class="has-footer has-header" scroll="false" ng-show="messageBackdrop.show">
      <ge-message-backdrop>
      </ge-message-backdrop>
  </ion-content>

</ion-view>
