<div class="white-backdrop visible active">
  <div class="center">
    <div class="card">
      <div class="item item-divider">
        <h1>{{ messageBackdrop.title | translate }}</h1>
      </div>
      <div class="item item-text-wrap">
        <p>{{ messageBackdrop.details | translate }}</p>
        <br>
        <button class="button button-outline button-block button-energized" on-tap="{{messageBackdrop.button.action}}">
        {{ messageBackdrop.button.text | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
