<ion-view ng-init="initCtrl()" hide-back-button="true" title="{{ 'chooseARestaurant' | translate }}" cache-view="false">

	<ion-nav-buttons side="left">
		<button class="button button-clear ion-ios-arrow-back" on-tap="onRestaurantsListLeave()">
			{{ 'back' | translate }}
		</button>
	</ion-nav-buttons>

	<ge-loading-backdrop ng-show="loadingBackdrop.show">
	</ge-loading-backdrop>

	<ion-content has-header="true" ng-show="!messageBackdrop.show">

		<ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}" on-refresh="onReload()">
		</ion-refresher>

		<ion-item ng-repeat="restaurant in restaurants" on-tap="onRestaurantTouch(restaurant)">
			<p>{{ restaurant.name }}</p>
			<p>
				{{ restaurant.description || 'restaurantPlaceholderDescription' | translate }}
			</p>
		</ion-item>

	</ion-content>

	<ion-content class="has-footer has-header" scroll="false" ng-show="messageBackdrop.show">
		<ge-message-backdrop>
		</ge-message-backdrop>
	</ion-content>

</ion-view>
