<ion-view ng-init="initCtrl()" nav-bar-class="bar-transparent" hide-back-button="true">

  <!-- - - - - - - - - - - - - - - - - - - NAV BAR - - - - - - - - - - - - - - - - - -->

  <ion-nav-buttons side="primary">
    <button class="button button-clear button-icon button-back ion-ios-arrow-thin-left" on-tap="onLeaveRestaurant()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <div class="title has-sub-title">
      Allo Pizza 91
      <small>{{currentOrder.remainingCapacity}} Pizzas restantes</small>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-timer" ng-if="currentOrder.endingAt">
      <i class="ion-ios-timer"></i>
      <timer end-time="currentOrder.endingAt" interval="1000"> {{mminutes}}:{{sseconds}}</timer>
    </button>
  </ion-nav-buttons>

  <!-- - - - - - - - - - - - - - - - - - - SUB HEADER BAR - - - - - - - - - - - - - - - - - -->
  <ion-content header-shrink="#discount-placeholder" class="no-header has-footer-summup full-height bg-blue">

    <div id="discount-placeholder">
      <div class="background" ng-style="{'background-image' : 'url('+ restaurant.pictureUrl +')'}">
        <div class="content" id="discount-placeholder-content">
          <div class="discount" ng-hide="isNewOrder.value">
            <h4>-{{ currentOrder.currentDiscount | number : 0 }}<small>%</small></h4>
            <p class="small-title">Discount sur toutes les Pizzas</p>
          </div>
          <div class="food-rush" ng-show="isNewOrder.value">
            <h3 class="time-value">{{foodRushTime.value}}:00</h3>
            <h5>{{ 'howLongFoodRush' | translate }} <b>Food Rush</b> ?</h5>
            <div class="item range range-assertive">
              5mn
              <input type="range" min="5" max="60" ng-model="foodRushTime.value" step="5" name="volume">
              60mn
            </div>
          </div>
        </div>
      </div>
    </div>

    <ion-list id="product-list">
      <div ng-repeat="product in products">
        <ion-item class="products" ng-click="toggleGroup(product)" ng-class="{'is-active': product.isShown}">
          <div class="clearfix">
            <div class="pull-left">
              <h4>{{product.name}}</h4>
            </div>
            <div class="pull-left">
              <ul class="info-icons">
                <li><span class="gp-icon gp_meat"></span></li>
                <li><span class="gp-icon gp_pork"></span></li>
                <li><span class="gp-icon gp_pepper"></span></li>
              </ul>
            </div>
          </div>

          <p>{{product.description}}</p>
        </ion-item>
        <ion-item class="item-accordion" ng-repeat="format in product.formats.data" ng-class="{'is-active': product.isShown}">
          <div class="content">
            <div class="row">
              <div class="col-50">
                <div class="format-info">
                  <div class="clearfix">
                    <div class="pull-left">
                      <h5>{{ format.name }}</h5>
                    </div>
                    <div class="pull-right">
                      <div class="format-price">
                        <span ng-if="!currentOrder.currentDiscount">
                          <b>{{ format.price | number : 2 }}</b> €
                        </span>
                        <span ng-if="currentOrder.currentDiscount">
                          <strike>{{ format.price | number : 2 }}€</strike> <b>{{ format.price*(100-currentOrder.currentDiscount)/100 | number : 2}}</b> €
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-50">
                <div class="add-to-cart">
                  <div class="clearfix">
                    <a class="action-btn" ng-class="{'is-active' : cart.getProductQuantity(product, format) > 0}" on-tap="onDeleteProduct(product, format)">
                      <i class="ion-ios-minus-empty"></i>
                    </a>
                    <a class="total">{{ cart.getProductQuantity(product, format) }}</a>
                    <a class="action-btn is-active" on-tap="onAddProduct(product, format)">
                      <i class="ion-ios-plus-empty"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>

  <div class="bar bar-white bar-footer bar-transparent bar-no-padding" id="summup-order">
    <div class="row row-no-padding">
      <div class="col">
        <div class="summup">
          <div class="clearfix">
            <div class="pull-left">
              <b>{{cart.getTotalQuantity()}}</b>
              <ng-pluralize count="cart.getTotalQuantity()" when="{'0': 'Pizza', '1': 'Pizza', 'other': 'Pizzas'}" ></ng-pluralize>
            </div>
            <div class="pull-right">
              <b>{{ cart.getTotalPrice() | number : 2}}</b>€
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <button on-tap="openCart()" class="btn btn-bloc btn-green btn-xlg btn-square" ng-disabled="cart.getTotalQuantity() == 0">
          Commander
        </button>
      </div>
    </div>
  </div>

</ion-view>
