<ion-view ng-controller='RestaurantMenuCtrl'  title="{{ 'restaurantMenu' | translate }}" >
  <ion-content class="has-header has-footer">
  <ul class="list">
    <div ng-repeat="pizza in pizzas" ng-click="addToBasketPopup(pizza)" class="row" >
      <div class="col col-80">
        <h3>{{ pizza.name }}</h2>
        <p style="display:block">{{ pizza.description }}</p>
      </div>
      <div class="col col-20 col-center">
      <strike>{{ pizza.price | number : 2 }} €</strike>
      <br>
      {{ pizza.price*discount | number : 2 }} €
      </div>
    </div>
  <ul>

	</ion-content>
</ion-view>
