<ion-view ng-controller="RestaurantsCtrl" title="{{ 'chooseARestaurant' | translate }}" >

	<ion-content has-header="true" ng-show="!messageBackdrop.show">

		<ion-refresher pulling-text="Pull to refresh..." on-refresh="onRefreshRestaurants()">
		</ion-refresher>

		<md-list>
		  <md-item ng-repeat="restaurant in restaurants.data" on-tap="onRestaurantTouch(restaurant.id)">
		    <md-item-content>
		      <div class="md-tile-left">
		        <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
		      </div>
		      <div class="md-tile-content">
		        <h3>{{ restaurant.name }}</h3>
		        <p>
		          un super restaurant de pizza
		        </p>
		      </div>
		    </md-item-content>
		  </md-item>
		</md-list>

	</ion-content>

	<ion-content has-header="true" scroll="false" ng-show="messageBackdrop.show">
		<ge-message-backdrop>
		</ge-message-backdrop>
	</ion-content>

	<ion-tabs id="bottom-tabs" ng-hide="$root.hideTabs" ng-controller="BottomTabsCtrl" class="tabs-energized tabs-icon-top">
    	  <ion-tab ng-repeat="tab in bottomTabs" title="{{ tab.title | translate }}" icon-on="{{ tab.iconClasses }}" icon-off="{{ tab.iconClasses }}" ui-sref="{{ tab.stateTarget }}">
      </ion-tab>
	</ion-tabs>
</ion-view>
