<ion-view ng-controller="RestaurantsCtrl" title="{{ 'chooseARestaurant' | translate }}" cache-view="false">

	<ge-loading-backdrop ng-show="loadingBackdrop.show">
	</ge-loading-backdrop>

	<ion-content has-header="true" ng-show="!messageBackdrop.show">

		<ion-refresher pulling-text="Pull to refresh..." on-refresh="onRefreshRestaurants()">
		</ion-refresher>

		<md-list>
		  <md-list-item ng-repeat="restaurant in restaurants" on-tap="onRestaurantTouch(restaurant)">
		    <md-item-content>
		      <div class="md-tile-left">
		        <img src="{{ restaurant.logo }}" class="face">
		      </div>
		      <div class="md-tile-content">
		        <h3>{{ restaurant.name }}</h3>
		        <p>
		          {{ restaurant.description || 'restaurantPlaceholderDescription' | translate }}
		        </p>
		      </div>
		    </md-item-content>
		  </md-list-item>
		</md-list>

	</ion-content>

	<ion-content class="has-footer has-header" scroll="false" ng-show="messageBackdrop.show">
		<ge-message-backdrop>
		</ge-message-backdrop>
	</ion-content>

	<ion-tabs id="bottom-tabs" ng-hide="$root.hideTabs" ng-controller="BottomTabsCtrl" class="tabs-energized tabs-icon-top">
    	  <ion-tab ng-repeat="tab in bottomTabs" title="{{ tab.title | translate }}" icon-on="{{ tab.iconClasses }}" icon-off="{{ tab.iconClasses }}" ui-sref="{{ tab.stateTarget }}">
      </ion-tab>
	</ion-tabs>
</ion-view>
