<ion-view ng-controller="SettingsCtrl" title="{{ 'settings' | translate }}" >

  <ion-nav-buttons side="right">
    <button on-tap="onSave()" class="button button-clear button-positives">{{ 'save' | translate }}</button>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer" ng-show="!messageBackdrop.show">
    <md-tabs md-selected="selectedIndex" flex>
      <md-tab ng-repeat="tab in tabs"
              ng-disabled="tab.disabled"
              label="{{tab.title | translate}}">
        <ng-include src="tab.url" />
      </md-tab>
    </md-tabs>
  </ion-content>

  <ion-content class="has-footer has-header" scroll="false" ng-show="messageBackdrop.show">
    <ge-message-backdrop>
    </ge-message-backdrop>
  </ion-content>

  <ion-tabs id="bottom-tabs" ng-hide="$root.hideTabs" ng-controller="BottomTabsCtrl" class="tabs-energized tabs-icon-top">
    <ion-tab ng-repeat="tab in bottomTabs" title="{{ tab.title | translate }}" icon-on="{{ tab.iconClasses }}" icon-off="{{ tab.iconClasses }}" ui-sref="{{ tab.stateTarget }}">
    </ion-tab>
	</ion-tabs>
</ion-view>
