<ion-view ng-init="initCtrl()" title="{{ 'settings' | translate }}" >

  <ion-nav-buttons side="right">
    <button on-tap="onSave()" class="button button-clear button-positive">{{ 'save' | translate }}</button>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer" ng-show="!messageBackdrop.show">
    <md-tabs md-selected="selectedIndex" md-dynamic-height="true" flex>
      <md-tab ng-repeat="tab in tabs"
      ng-disabled="tab.disabled">
        <md-tab-label>
          {{tab.title | translate }}
        </md-tab-label>
        <md-tab-body>
          <ng-include src="tab.url" />
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </ion-content>

  <ion-content class="has-footer has-header" scroll="false" ng-show="messageBackdrop.show">
    <ge-message-backdrop>
    </ge-message-backdrop>
  </ion-content>

</ion-view>
