<ion-view ng-init="initCtrl()" title="{{ 'settings' | translate }}" >

  <ion-nav-buttons side="right">
    <button on-tap="onSave()" class="button button-clear button-positive">{{ 'save' | translate }}</button>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <div class="row">
      <button ng-repeat="tab in tabs" class="col" on-tap="slideTo({{ tab.id }})">
        {{ tab.title | translate }}
      </button>
    </div>
  </div>

  <ion-slide-box disable-scroll="true" show-pager="false">
    <ion-slide ng-repeat="tab in tabs">
      <ion-content class="full-height">
        <ng-include src="tab.url"/>
      </ion-content>
    </ion-slide>
  </ion-slide-box>


</ion-view>
